<h3>Зарегистрирован учитель</h3>
<div class='heading'>
  <b>
    О пользователе
  </b>
</div>
<div class='info'>{{user.name}}</div>
<div class='info'>{{user.phone}}</div>
<div class='info'>{{user.email}}</div>
<style>
  .heading {
    margin-top: 10px;
  }
</style>